@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  font-family: "Quicksand";
  color: #333;
}

.content {
  height: 100%;
  max-width: 1000px;
  padding: 0px;
  padding-left: 20%;
  
}
.sideBar {
  height: 100%;  
  width: 20%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#ffad01; 
  transition: .5s ease; 
  overflow-x: hidden; 
  display: flex; 
  flex-direction: column; 
  align-items: left;
  justify-content: flex-start;
}

.sideBar img{
  align-self:center;
  padding-bottom: 20px;
}

.sideBar hr{
  color:#ffffff;
}

.sideBar h1 {
  color: #ffffff;
  font-size: 40px;
}
.sideBar .sideBarLinks {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.sideBar a {
  text-decoration:underline;
  padding: 6px;
  color: #ffffff;
}
.sideBar a:hover {
  text-decoration: none;
}

.buttonIcon {
  fill: white;
}